<% if(components.length) { %>
<nav class="sg-components-list">
  <h2 class="sg-components-title">Composants&nbsp;:</h2>
  <ul><% components.forEach(function(component) { %>
    <li>
      <a href="#<%- component.config.name %>"><%- component.config.name %></a>
    </li><% }) %>
  </ul>
</nav>

<% components.forEach(function(component) { %>

  <section class="sg-component">

    <h3 class="sg-title" id="<%- component.config.name %>">
      <%- component.config.name %>
    </h3>

    <div class="sg-doc">
      <%- component.html %>
    </div>

    <!--div class="sg-filepath">
      <%- component.sourcePath %>
    </div-->

    <!--ul class="sg-tags"><% component.config.tag.forEach(function(tag) { %>
      <li class="sg-tags__item sg-tags__item--<%- tag %>">
        <span><%- tag %></span>
      </li><% })%>
    </ul-->



  </section>

  <% }) %>

<% } else { %>
  <%- html %>
<% } %>
