<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->

  <title>Styleguide</title>

  <link href="<%- root %>assets/css/okadia.css" rel="stylesheet">
  <link rel="stylesheet" href="<%- root %>../../../assets/css/styleguide.css">
  <link rel="stylesheet" href="<%- root %>../../../assets/css/style.css">

</head>
<body>

  <div class="sg-wrapper">

    <header>
      <a href="<%- root %>index.html" class="sg-btn sg-btn-back">&lt;&nbsp;Index</a>
      <h1 class="sg-title">Style<b>guide</b></h1>
    </header>


    <%- include('sidemenu') %>

    <main class="sg-main">
      <%- include('components') %>
    </main>

  </div>

</body>
</html>
