<nav class="sg-nav">

  <%- helper.renderCollectionTree('category') %>

  <ul class="sg-nav__menu">
    <li><a href="<%- root %>color.html">Couleurs</a></li>
  </ul>

  <ul class="sg-tags">
  <% config.collection.tag.forEach(function(tag) { %>
    <li><a class="sg-tags__item sg-tags__item--<%- tag %>" href="<%- root %>tag/<%- tag %>/index.html"><%- tag %></a></li>
  <% }) %>
  </ul>

</nav>

